html, body {
    margin: 0;
    padding: 0;

    overflow: hidden;

    position: fixed;

    width: 100%;
    height: 100%;

    font-size: 3vmin;

    touch-action: none;

    background-color: #ffffff;
}

canvas {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;
    
    overflow: unset;
    opacity: 0;

    background-color: #ffffff;
}

@keyframes title_transition_text {
    0% {
        transform: 
            scale(0, 0) rotate(0deg);
        opacity: 0;
    }

    50% {
        opacity: 100%;
    }

    90% {
        transform: 
            scale(1, 1) rotate(360deg);
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes title_transition_enso {
    0% {
        transform:  rotate(0deg);
        opacity: 0%;
    }

    90% {
        opacity: 50%;
    }

    100% {
        transform: rotate(-360deg);
        opacity: 0%;
    }
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

.title {
    position: absolute;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    pointer-events: none;
}

.fadeIn {
    opacity: 0%;
}

.titleText {
    position: fixed;
    transform: scale(1, 1) rotate(360deg);
    animation-name: title_transition_text;
    animation-duration: 2.5s;
    opacity: 0%;

    height: 75%;
}

.titleEnso {
    position: fixed;
    transform: rotate(-360deg);
    animation-name: title_transition_enso;
    animation-duration: 2.5s;
    opacity: 0%;

    height: 75%;
}

.ensoButtonBar {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    pointer-events: none !important;
}

.ensoButtonBar button {
    border: none;
    background: none; 
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: 0.25rem;
    pointer-events: all !important;
}

.ensoButtonThumb, .ensoButtonEnso {
    width: 5rem;
    height: 5rem;
    position: absolute;
    transform: translate(-50%, -50%);
}

.ensoButtonEnso {
    z-index: 100;
}

.ensoButtonEnso:hover {
    animation-name: spin;
    animation-duration: .5s;
    cursor: pointer;
}   

.topLeft {
    display: none;
    top: 0;
    left: 0;
}

.bottomCenter {
    bottom: 4rem;
    text-align: center;
    width: 100%;
    padding-left: 0!important;
    padding-right: 0 !important;
}

#feedback_link {
    top: 0;
    right: 0;
    padding: 0 !important;
    pointer-events: all !important;
}

.topRight {
    top: 0;
    right: 0;
}

.mainText {
    pointer-events: none;
    font-family: serif;
    color: white;
    position: absolute;
    padding: 2rem;
    margin: 0;
}

.mainText svg, p {
    display: block;
    margin: 0;
}

.progressCircle {
    transition: 0.25s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

@media (orientation: portrait) {
    .topLeft {
        padding: 0;
        padding-top: 4rem;
        width: 100%;
        text-align: center;
    }

    .topRight {
        padding: 0;
        padding-top: 2rem;
        width: 100%;
        text-align: center;
    }
}
